# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
import pandas as pd
import time


client = MongoClient("localhost:27017")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [5]:
db= client["Ironhack"]
companies=db.get_collection("companies")

query={"name":"Babelgum"}
projection={"name":1,"_id":0}

list(companies.find(query, projection))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [18]:
query={"number_of_employees":{"$gt":5000}}
projection={"name":1, "number_of_employees":1,"_id":0}


list(companies.find(query, projection).limit(20).sort("number_of_employees",-1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [62]:
queries=[{"founded_year":{"$gte":2000}},{"founded_year":{"$lte":2005}}]
projection={"name":1,"founded_year":1,"_id":0}

list(companies.find({"$and": queries}, projection).limit(10))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [61]:
queries=[{"ipo.valuation_amount":{"$gte":100000000}},{"founded_year":{"$lt":2010}}]
projection={"name":1,"ipo.valuation_amount":1,"_id":0}

list(companies.find({"$and": queries}, projection).limit(10).sort("ipo.valuation_amount",-1))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [29]:
queries=[{"number_of_employees":{"$lt":1000}},{"founded_year":{"$lt":2005}}]
projection={"name":1,"number_of_employees":1,"_id":0}

list(companies.find({"$and": queries}, projection).limit(10).sort("number_of_employees",-1))

[{'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'Cornerstone OnDemand', 'number_of_employees': 881},
 {'name': 'Mozilla', 'number_of_employees': 800},
 {'name': 'Buongiorno', 'number_of_employees': 800},
 {'name': 'Yelp', 'number_of_employees': 800}]

### 6. All the companies that don't include the `partners` field.

In [37]:
query={"partners":{"$exists": False}}
projection={"name":1,"_id":0}

list(companies.find(query, projection).limit(10))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [38]:
query={"category_code":{"$type": 10}}
projection={"name":1,"_id":0}

list(companies.find(query, projection).limit(10))

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [39]:
queries=[{"number_of_employees":{"$gt":100}},{"number_of_employees":{"$lt":1000}}]
projection={"name":1,"number_of_employees":1,"_id":0}

list(companies.find({"$and": queries}, projection).limit(10).sort("number_of_employees",-1))

[{'name': 'Datamonitor', 'number_of_employees': 984},
 {'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Relax Solutions Pvt Ltd', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'InMobi', 'number_of_employees': 900}]

### 9. Order all the companies by their IPO price in a descending order.

In [45]:
query={"ipo.valuation_amount":{"$gte":100}}
projection={"name":1,"ipo.valuation_amount":1,"_id":0}

list(companies.find(query, projection).limit(20).sort("ipo.valuation_amount",-1))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}},
 {'name': 'Baidu', 'ipo': {'valuation_amount': 4000000000}},
 {'name': 'TripAdvisor', 'ipo': {'valuation_amount': 3273770000}},
 {'name': 'HomeAway', 'ipo': {'valuation_amount': 3000000000}},
 {'name': 'Zillow', 'ipo': {'valuation_amount': 2550000000}},
 {'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'RPX Corporation', 'ipo': {'valuation_amount': 1096000000}},
 {'name': 'Higher One', 'ipo': {'valuation_amount': 1060000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [42]:
query={"number_of_employees":{"$gte":1}}
projection={"name":1,"number_of_employees":1,"_id":0}

list(companies.find(query, projection).limit(10).sort("number_of_employees",-1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [46]:
queries={"founded_month":{"$gte":6}}
projection={"name":1,"founded_month":1,"_id":0}

list(companies.find(queries, projection).limit(10))

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'Postini', 'founded_month': 6},
 {'name': 'Geni', 'founded_month': 6},
 {'name': 'Fox Interactive Media', 'founded_month': 6},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [56]:
queries=[{"founded_year":{"$lte":2000}},{"acquisition.price_amount":{"$gte":100000}}]
projection={"name":1,"_id":0}

list(companies.find({"$and": queries}, projection).limit(10))

[{'name': 'Postini'},
 {'name': 'SideStep'},
 {'name': 'Recipezaar'},
 {'name': 'Cyworld'},
 {'name': 'PayPal'},
 {'name': 'Snapfish'},
 {'name': 'Neopets'},
 {'name': 'Sun Microsystems'},
 {'name': 'Zappos'},
 {'name': 'Alibaba'}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [55]:
queries={"acquisition.acquired_year":{"$gte":2010}}
projection={"name":1,"acquisition.price_amount":1,"_id":0}

list(companies.find(queries, projection).limit(10).sort("acquisition.price_amount",-1))

[{'name': 'T-Mobile', 'acquisition': {'price_amount': 39000000000}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000}},
 {'name': 'LSI', 'acquisition': {'price_amount': 6600000000}},
 {'name': 'National Semiconductor',
  'acquisition': {'price_amount': 6500000000}},
 {'name': 'Sybase', 'acquisition': {'price_amount': 5800000000}},
 {'name': 'Ariba', 'acquisition': {'price_amount': 4300000000}},
 {'name': 'NetLogic Microsystems',
  'acquisition': {'price_amount': 3700000000}},
 {'name': 'Interactive Data', 'acquisition': {'price_amount': 3400000000}},
 {'name': 'SuccessFactors', 'acquisition': {'price_amount': 3400000000}},
 {'name': 'Qualcomm Atheros', 'acquisition': {'price_amount': 3100000000}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [54]:
queries={"founded_year":{"$gt":100}}
projection={"name":1,"founded_year":1,"_id":0}

list(companies.find(queries, projection).limit(10).sort("founded_year",1))

[{'name': 'US Army', 'founded_year': 1800},
 {'name': 'SmallWorlds', 'founded_year': 1800},
 {'name': 'Alstrasoft', 'founded_year': 1800},
 {'name': 'DuPont', 'founded_year': 1802},
 {'name': 'Bachmann Industries', 'founded_year': 1833},
 {'name': 'McKesson', 'founded_year': 1833},
 {'name': 'Bertelsmann', 'founded_year': 1835},
 {'name': 'Accuity', 'founded_year': 1836},
 {'name': 'CENTRA', 'founded_year': 1839},
 {'name': 'WeGame', 'founded_year': 1840}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [57]:
queries={"founded_day":{"$lte":7}}
projection={"name":1,"founded_day":1,"_id":0}

list(companies.find(queries, projection).limit(10).sort("acquisition.price_amount",-1))

[{'name': 'Netscape', 'founded_day': 4},
 {'name': 'PayPal', 'founded_day': 1},
 {'name': 'Zappos', 'founded_day': 1},
 {'name': 'Alibaba', 'founded_day': 1},
 {'name': 'Postini', 'founded_day': 2},
 {'name': 'Danger', 'founded_day': 1},
 {'name': 'Clearwell Systems', 'founded_day': 6},
 {'name': 'PrimeSense', 'founded_day': 1},
 {'name': 'Amobee', 'founded_day': 1},
 {'name': 'BlueLithium', 'founded_day': 1}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [58]:
queries=[{"category_code":"web"},{"number_of_employees":{"$gte":4000}}]
projection={"name":1,"number_of_employees":1,"_id":0}

list(companies.find({"$and": queries}, projection).limit(10).sort("number_of_employees",-1))

[{'name': 'Experian', 'number_of_employees': 15500},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Expedia', 'number_of_employees': 4400}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [59]:
queries=[{"acquisition.price_currency_code":"EUR"},{"acquisition.price_amount":{"$gte":1000000}}]
projection={"name":1,"_id":0}

list(companies.find({"$and": queries}, projection).limit(10))

[{'name': 'ZYB'},
 {'name': 'Apertio'},
 {'name': 'Greenfield Online'},
 {'name': 'Mobile Trend'},
 {'name': 'Excite Europe'},
 {'name': 'YelloYello'},
 {'name': 'Webedia'},
 {'name': 'Wayfinder'},
 {'name': 'Branded Payment Solutions'},
 {'name': 'Tuenti Technologies'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [60]:
queries={"acquisition.acquired_month":{"$lte":3}}
projection={"name":1,"acquisition.acquired_month":1,"_id":0}

list(companies.find(queries, projection).limit(10))

[{'name': 'Kyte', 'acquisition': {'acquired_month': 1}},
 {'name': 'NetRatings', 'acquisition': {'acquired_month': 2}},
 {'name': 'blogTV', 'acquisition': {'acquired_month': 3}},
 {'name': 'Livestream', 'acquisition': {'acquired_month': 1}},
 {'name': 'iContact', 'acquisition': {'acquired_month': 2}},
 {'name': 'Coghead', 'acquisition': {'acquired_month': 2}},
 {'name': 'Dailymotion', 'acquisition': {'acquired_month': 2}},
 {'name': 'Netvibes', 'acquisition': {'acquired_month': 2}},
 {'name': 'Flickr', 'acquisition': {'acquired_month': 3}},
 {'name': 'BabyCenter', 'acquisition': {'acquired_month': 3}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code